<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/you-tube-rty-19.49.7-1738303562/YouTube%20-%20RTY_19.49.7_1738303562.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.Youtube</string>
<key>bundle-version</key>
<string>16.31.4</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>ម៉េចហើយជីវិត</string>
</dict>
</dict>
</array>
</dict>
</plist>
